#message-list{

    max-width: 90%!important;
    margin-left: auto!important ;
    margin-right: auto !important;
}


.user_message {
    font-size: 15px!important;
}


#learning-button{
    padding: 7px!important;
}

.user_message.message-content{

        text-align: justify!important;
        line-height: 1.5rem!important;
}