#message-list{

    max-width: 90%!important;
    margin-left: auto!important ;
    margin-right: auto !important;
}


.user_message {
    font-size: 15px!important;
}


#learning-button{
    padding: 7px!important;
}

.user_message.message-content{

        text-align: justify!important;
        line-height: 1.5rem!important;
}

.monologue {
    
    padding-bottom: 35px!important;
    padding-top: 35px !important;
    display: ruby!important;
}


#save-settings
{
    background: rgb(192 132 252)!important;
}

.history-item {
      padding: 10px!important;
}

#resume-list{
        max-height: 100vh!important;
}

#history-modal>div{
        max-height: 65vh!important;
}

.user_message  {
    margin-left: 25px!important;
}

.chat_actions{
        margin-left: -35px!important;
}

.feedback{
    
    margin: 0 auto!important;
    position: fixed!important;
    left: 40%!important;
    bottom: 25px!important;
    background-color: rgb(63, 40, 87)!important;
}
