#message-list{

    max-width: 90%!important;
    margin-left: auto!important ;
    margin-right: auto !important;
}


.user_message {
    font-size: 15px!important;
}


#learning-button{
    padding: 7px!important;
}

.user_message.message-content{

        text-align: justify!important;
        line-height: 1.5rem!important;
}

#save-settings
{
    background: rgb(192 132 252)!important;
}

.history-item {
      padding: 10px!important;
}

#resume-list{
        max-height: 100vh!important;
}

#history-modal>div{
        max-height: 65vh!important;
}

.user_message  {
    margin-left: 25px!important;
}

.chat_actions{
        margin-left: -35px!important;
}

.feedback{
    
    margin: 0 auto!important;
    position: fixed!important;
    left: 40%!important;
    bottom: 25px!important;
    background-color: rgb(63, 40, 87)!important;
}

#copy-alert >div {
    background: #1e1f20!important;
    max-width: 280px;
    border-radius: 28px;
}


#copy-alert #btn-copy-all{
  background:  #f5f5f54a!important;
}

#copy-alert #btn-copy-code{
  background:   rgb(192 132 252 / var(--tw-text-opacity, 1))!important;
  margin-top: 5px;
}

#copy-alert button{
    padding: 10px!important;
     border-radius: 10px!important;
}

#copy-alert .whiteMode {
    background-color: #e3e3e3!important;
}

#copy-alert .whiteMode   #btn-copy-all{

    background-color: #1e1f203d!important;
    color: black;
}